node_modules
public/bankDetails
public/banner
public/depositWithdraw
public/documents
public/profileImage
public/csv


.env
.env.*
*.example.env
logs/
*.log
*.txt
*.csv
*.xlsx
scratch/
public/logs-ui.html
__MACOSX/
.DS_Store
**/.DS_Store
